/* body */
body {
  margin: 0;
  padding: 0;
  background-color: #262525;
}

/* Hero */
.hero-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/homeIMG/bandaRockFondo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  color: white;
  padding-bottom: 5px;
  background-position: center 30%;
  height: 85vh; /* recorta visualmente la parte de abajo */
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3); /* oscurece la imagen */
}

/* Título principal */
.hero-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Parrafo descriptivo */
.hero-text2 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  line-height: 1.5;
}

/* Textos del hero */
.hero-content {
  margin-bottom: 80px;
}


/* Contenedor de los botones */
.botonera {
  display: flex; /* Pone los botones en fila */
  gap: -5px; /* Crea un espacio de 20px entre ellos */
  margin-right: 100px;
  margin-left: -10px;
}

/* Botones del hero */
.btn {
  /* Se quitó 'gap: 20px;' de aquí */
  background-color: #e38e04;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 550;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: all 0.3s ease; /* transición suave */
}

.btn:hover {
  background-color: #ff9900;
  cursor: pointer;
  transform: translateY(-5px); /* levanta la card */
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.btn-2 {

  background-color: #e38e04;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 550;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: all 0.3s ease; /* transición suave */
}

.btn-2:hover {
  background-color: #ff9900;
  cursor: pointer;
  transform: translateY(-5px); /* levanta la card */
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}